.subNav-item {
  padding: 0.35rem;
  display: flex;
  align-items: center;
  border-left: 1px solid rgb(197, 195, 195);
}
.subNav-item > * {
  margin-right: 7px;
}

.right-border {
  border-right: 1px solid rgb(197, 195, 195);
}
