:root {
  --element-spacing: 1.5rem;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 9rem;
}

.left > * {
  margin-right: var(--element-spacing);
}

.right {
  display: flex;
  align-items: center;
}

.right > * {
  margin-left: var(--element-spacing);
}

.nav-link {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  border-bottom: 1px solid #fff;
}

.signup-btn {
  font-size: 16px;
  font-weight: 500;
}
